@font-face { font-family: 'robotobold'; src: url("fonts/roboto/roboto-bold.eot"); src: url("fonts/roboto/roboto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-bold.woff") format("woff"), url("fonts/roboto/roboto-bold.ttf") format("truetype"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'roboto_cnbold'; src: url("fonts/roboto/roboto-boldcondensed.eot"); src: url("fonts/roboto/roboto-boldcondensed.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-boldcondensed.woff") format("woff"), url("fonts/roboto/roboto-boldcondensed.ttf") format("truetype"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'roboto_cnregular'; src: url("fonts/roboto/roboto-condensed.eot"); src: url("fonts/roboto/roboto-condensed.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-condensed.woff") format("woff"), url("fonts/roboto/roboto-condensed.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'robotoregular'; src: url("fonts/roboto/roboto-regular.eot"); src: url("fonts/roboto/roboto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-regular.woff") format("woff"), url("fonts/roboto/roboto-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { display: flex; min-height: 100vh; flex-direction: column; overflow-y: scroll; }
@media (min-width: 940px) { body { overflow-x: hidden; } }

main { flex: 1; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-family: "roboto_cnbold"; font-stretch: 0.9; text-transform: uppercase; color: #2d2b26; }

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 22px; }

h4 { font-size: 19px; }

h5 { font-size: 17px; }

h6 { font-size: 15px; }

p { margin: 0; font-family: "robotoregular"; }

a { text-decoration: underline; }
a:hover, a:focus { text-decoration: none; outline: none; }

.btn { padding: 6px 15px; }

.btn:focus, .btn:active, button:focus, button:active { outline: none; }

.btn-black { text-transform: uppercase; padding: 7px 25px; font-family: "robotobold"; background: black; color: white; }
.btn-black:hover { background: #202020; color: white; }

.btn-orange { background: #ff8103; color: white; text-transform: uppercase; padding: 10px 25px; font-family: "robotobold"; }
.btn-orange:hover { background: #f57e20; color: white; }

.title-underline { width: 9px; height: 9px; border: 1px solid #cdcdcd; margin: 12px auto; }
.title-underline:after, .title-underline:before { width: 50px; height: 1px; content: ""; display: block; border-top: 1px solid #cdcdcd; position: relative; }
.title-underline:before { top: 4px; right: 50px; }
.title-underline:after { top: 3px; left: 8px; }

.btn-scroll { display: none; background: black; position: fixed; bottom: 60px; right: 40px; width: 45px; height: 45px; border: none; cursor: pointer; z-index: 1000; }
.btn-scroll:before { content: ""; position: absolute; bottom: 20px; left: 12px; border: 10px solid transparent; border-bottom: 10px solid white; }
.btn-scroll:after { content: ""; position: absolute; bottom: 18px; left: 12px; border: 10px solid transparent; border-bottom: 10px solid black; }

.btn-phone { position: fixed; bottom: 300px; right: 40px; width: 60px; background: #9fbee3; height: 60px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; border: none; z-index: 1000; }
.btn-phone:before { content: ""; width: 90px; height: 90px; position: absolute; top: -15px; right: -15px; -webkit-border-radius: 45px; -moz-border-radius: 45px; -ms-border-radius: 45px; -o-border-radius: 45px; border-radius: 45px; opacity: 0.6; background: #9fbee3; }
.btn-phone:after { content: ""; background: url("../img/phone-white.png") no-repeat; position: absolute; top: 16px; right: 5px; width: 40px; height: 40px; }

.btn-consult { background: url("../img/online-consult.jpg") no-repeat; position: fixed; left: 0; bottom: 115px; width: 36px; height: 166px; border: none; -webkit-border-radius: 0 6px 6px 0; -moz-border-radius: 0 6px 6px 0; -ms-border-radius: 0 6px 6px 0; -o-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0; z-index: 1000; }

.btn-close { border: none; margin-bottom: 20px; position: relative; width: 40px; height: 40px; }
.btn-close:after { content: ""; position: absolute; bottom: 20px; left: 5px; width: 30px; border-top: 1px solid white; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.btn-close:before { content: ""; position: absolute; bottom: 20px; left: 5px; width: 30px; border-top: 1px solid white; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

.white { color: white !important; }

.nowrap { white-space: nowrap; }

body { background: white; color: black; font-family: "roboto_cnregular"; }
body .container { width: 1162px; max-width: 1162px; min-width: 1162px; }

.header { border-bottom: 3px solid #ff8103; position: fixed; top: 0; z-index: 1000; width: 100%; background: white; font-family: "roboto_cnregular"; }
.header .header-logo { margin-right: 140px; margin-left: -6px; cursor: pointer; }
.header .header-navigation { margin-top: 15px; }
.header .header-navigation .btn.pull-right { background: #e1e1e1; }
.header .header-navigation .btn.pull-right:hover { background: #d1d1d1; }
.header .header-navigation .phone { margin-right: 17px; margin-top: 8px; font-weight: bold; }
.header .header-navigation .phone:before { content: url("../img/phone.png"); font-weight: bold; margin-right: 3px; }
.header .header-navigation .header-menu a { position: relative; color: black; display: inline-block; text-decoration: none; margin-right: 27px; padding: 5px 0; text-transform: uppercase; font-size: 15px; }
.header .header-navigation .header-menu a:after, .header .header-navigation .header-menu a:before { position: absolute; background: #ff8103; top: 100%; left: 0; content: ""; width: 100%; height: 1px; opacity: 0; transition: opacity 0.3s, transform 0.3s; -moz-transition: opacity 0.3s, -moz-transform 0.3s; -webkit-transition: opacity 0.3s, -webkit-transform 0.3s; -o-transition: opacity 0.3s, -o-transform 0.3s; transform: translateY(-5px); -moz-transform: translateY(-5px); -webkit-transform: translateY(-5px); -o-transform: translateY(-5px); }
.header .header-navigation .header-menu a:before { top: 0; transform: translateY(5px); -moz-transform: translateY(5px); -webkit-transform: translateY(5px); -o-transform: translateY(5px); }
.header .header-navigation .header-menu a:hover, .header .header-navigation .header-menu a:focus { color: #ff8103; }
.header .header-navigation .header-menu a:hover::after, .header .header-navigation .header-menu a:focus::after, .header .header-navigation .header-menu a:hover::before, .header .header-navigation .header-menu a:focus::before { opacity: 1; transform: translateY(0); -moz-transform: translateY(0); -webkit-transform: translateY(0); -o-transform: translateY(0); }

.main { margin-top: 68px; }

.top-banner { background-attachment: fixed; background-repeat: no-repeat; height: 360px; background-image: url("../img/header.jpg"); background-size: auto 500px; max-width: 1900px; margin: 0 auto; }
.top-banner .container { position: relative; }
.top-banner .form-place { position: absolute; top: 0; right: 15px; background: #ff8103; width: 387px; height: 360px; padding: 42px 45px; opacity: 0.75; }
.top-banner form { position: absolute; top: 52px; right: 56px; width: 300px; font-family: "robotoregular"; }
.top-banner form h1 { margin-bottom: 25px; }
.top-banner form input, .top-banner form textarea { background: #71471c; border: 2px solid transparent; margin-bottom: 3px; opacity: 1; color: white; font-size: 13px; padding-left: 15px; }
.top-banner form input:focus, .top-banner form textarea:focus { border: 2px solid white; }
.top-banner form .placeholder { color: white; }
.top-banner form input { height: 39px; }
.top-banner form input::-webkit-input-placeholder { color: white; }
.top-banner form input::-moz-placeholder { color: white; }
.top-banner form input:-moz-placeholder { color: white; }
.top-banner form input:-ms-input-placeholder { color: white; }
.top-banner form textarea { height: 55px; }
.top-banner form textarea::-webkit-input-placeholder { color: white; }
.top-banner form textarea::-moz-placeholder { color: white; }
.top-banner form textarea:-moz-placeholder { color: white; }
.top-banner form textarea:-ms-input-placeholder { color: white; }
.top-banner form a, .top-banner form a:hover { color: #2d2b26; display: block; font-size: 12px; margin-bottom: 15px; }

.our-products { margin-top: 60px; margin-bottom: 45px; }
.our-products .products-wrap { width: 932px; margin: 0 auto; }
.our-products .product-gallery { margin-top: 31px; }
.our-products .product-gallery a { text-decoration: none; }
.our-products .product-gallery .thumbnail { border: none; }
.our-products .product-gallery .thumbnail img { border: 1px solid transparent; }
.our-products .product-gallery .thumbnail .caption { padding: 9px 17px; }
.our-products .product-gallery .thumbnail h5 { margin-top: 15px; margin-bottom: 5px; }
.our-products .product-gallery .thumbnail p { line-height: 17px; color: #6d6d6d; }
.our-products .product-gallery .thumbnail img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #dddddd; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.our-products .product-gallery .thumbnail img:hover, .our-products .product-gallery .thumbnail img.active { border: 1px solid #ff8103; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; background: white; }

.catalog-wrap { position: relative; display: none; margin-top: -45px; margin-bottom: 25px; }
.catalog-wrap .arrow-close { width: 30px; height: 30px; background: transparent; border: none; position: absolute; bottom: -35px; left: -15px; margin-left: 50%; cursor: pointer; z-index: 100; }
.catalog-wrap .arrow-close:before { content: ""; position: absolute; bottom: 7px; left: 0; border: 15px solid transparent; border-bottom: 13px solid black; }
.catalog-wrap .arrow-close:after { content: ""; position: absolute; bottom: 0; left: 0; border: 15px solid transparent; border-bottom: 13px solid white; }
.catalog-wrap .catalog { position: relative; overflow: hidden; }
.catalog-wrap .catalog .arrow { position: absolute; top: 0; z-index: 100; }
.catalog-wrap .catalog .arrow:before { content: ""; position: absolute; top: 20px; border: 28px solid transparent; border-top: 28px solid #ff8103; }
.catalog-wrap .catalog .arrow:after { content: ""; position: absolute; top: 18px; border: 28px solid transparent; border-top: 28px solid white; }
.catalog-wrap .catalog .categories-wrap { background: transparent; border-top: 1px solid #ff8103; padding-top: 10px; }
.catalog-wrap .catalog .categories-wrap .order-banner { float: left; background-size: 100% 100%; border: 1px solid #efefef; height: 325px; width: 265px; padding: 10px; }
.catalog-wrap .catalog .categories-wrap .order-banner.metchiki-order { background: url("../img/banner-metchiki.jpg") no-repeat; }
.catalog-wrap .catalog .categories-wrap .order-banner.plashki-order { background: url("../img/banner-plashki.jpg") no-repeat; }
.catalog-wrap .catalog .categories-wrap .order-banner.frezy-order { background: url("../img/banner-frezy.jpg") no-repeat; }
.catalog-wrap .catalog .categories-wrap .order-banner.sverla-order { background: url("../img/banner-sverla.jpg") no-repeat; }
.catalog-wrap .catalog .categories-wrap .order-banner h4 { color: #ff8103; text-transform: none; font-size: 20px; margin-top: 115px; margin-bottom: 12px; }
.catalog-wrap .catalog .categories-wrap .order-banner h4.white { text-transform: uppercase; margin-top: 0; margin-bottom: 3px; }
.catalog-wrap .catalog .categories-wrap .order-banner .btn { padding: 8px 25px; margin-top: 32px; }
.catalog-wrap .catalog .categories-wrap .product-wrap { margin-bottom: 25px; width: 265px; height: 325px; float: left; margin-right: 23px; position: relative; }
.catalog-wrap .catalog .categories-wrap .product-wrap:nth-child(4n+4) { margin-right: 0; }
.catalog-wrap .catalog .categories-wrap .orange-hr { position: absolute; bottom: 0; left: 0; margin: 0; border-top: 3px solid #ff8103; width: 100%; }
.catalog-wrap .catalog .categories-wrap .product-item { height: 325px; padding: 15px 10px; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; margin-bottom: 0; text-align: center; border: 1px solid #efefef; }
.catalog-wrap .catalog .categories-wrap .product-item img { margin-bottom: 20px; height: 195px; }
.catalog-wrap .catalog .categories-wrap .product-item .product-name { font-family: "roboto_cnregular"; font-size: 16px; line-height: 20px; height: 43px; overflow-y: hidden; }
.catalog-wrap .catalog .categories-wrap .product-item .product-price { color: #ff8103; font-size: 16px; font-family: "roboto_cnbold"; margin-bottom: 20px; }
.catalog-wrap .catalog .categories-wrap .product-item .product-price span { font-size: 22px; }
.catalog-wrap .catalog .categories-wrap .product-item .btn-orange { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; position: absolute; bottom: 0; left: 0; z-index: 100; display: none; padding: 8px; }
.catalog-wrap .catalog .categories-wrap .product-item:hover { -webkit-box-shadow: inset 0 0 0 3px #efefef; -moz-box-shadow: inset 0 0 0 3px #efefef; box-shadow: inset 0 0 0 3px #efefef; }

.without-mess { background: url("../img/without-mess.jpg") 50% 50% no-repeat; margin-bottom: 48px; min-height: 527px; position: relative; padding-top: 30px; }
.without-mess:before { content: ""; position: absolute; top: 0; left: -25px; margin-left: 50%; border: 25px solid transparent; border-top: 25px solid white; }
.without-mess h1 { margin-top: 32px; }
.without-mess .how { margin-top: 43px; width: 100%; }
.without-mess .how .border-rhombus { display: inline-block; height: 200px; width: 200px; margin: 44px 35px 44px 44px; border: 2px solid white; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); position: relative; top: 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.without-mess .how .border-rhombus:hover .inner-rhombus, .without-mess .how .border-rhombus.active .inner-rhombus { bottom: 16px; right: 16px; }
.without-mess .how .border-rhombus .inner-rhombus { position: relative; bottom: 0; right: 0; height: 200px; width: 200px; margin: 14px; background: white; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.without-mess .how .border-rhombus .inner-rhombus .thumbnail { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); border: none; background: transparent; width: 140px; height: 140px; position: absolute; top: 30px; left: 30px; padding: 0; margin: 0; }
.without-mess .how .border-rhombus .inner-rhombus .thumbnail .caption { width: 135px; margin-top: 13px; }
.without-mess .how .border-rhombus .inner-rhombus .thumbnail .caption h6 { font-family: "roboto_cnbold"; line-height: 18px; }
.without-mess .how .border-rhombus .inner-rhombus .thumbnail .caption h6 span { margin-right: 3px; color: #ff8103; }

.service-details .tab-pane.active { margin-top: -30px; padding-bottom: 44px; margin-bottom: 37px; -webkit-box-shadow: 0 4px 5px 0 #dddddd; -moz-box-shadow: 0 4px 5px 0 #dddddd; box-shadow: 0 4px 5px 0 #dddddd; }
.service-details .tab-pane.active .details { text-align: center; margin: 0 auto; width: 800px; }
.service-details .tab-pane.active .details .btn-close { background: transparent; border: none; margin-bottom: 20px; }
.service-details .tab-pane.active .details .btn-close:focus { outline: none; }
.service-details .tab-pane.active .details .btn-close:after { border-top: 1px solid #ff8103; }
.service-details .tab-pane.active .details .btn-close:before { border-top: 1px solid #ff8103; }

.contacts { margin-bottom: 35px; height: 235px; }
.contacts .map { width: 677px; height: 235px; margin-right: 50px; border-top: 2px solid #ff8103; }
.contacts .map:hover { -webkit-box-shadow: 0 -2px 0 #ff8103; -moz-box-shadow: 0 -2px 0 #ff8103; box-shadow: 0 -2px 0 #ff8103; }
.contacts .contacts-info h1 { margin-bottom: 33px; margin-top: 8px; }
.contacts .contacts-info p { line-height: 24px; margin-bottom: 20px; }
.contacts .contacts-info .btn-black { padding: 8px 14px; border-bottom: 2px solid #626262; }

.footer p { font-size: 12px; margin-top: 4px; }
.footer .web-logo { margin-top: -4px; }

.modal .modal-dialog { position: relative; margin: 100px auto 0; width: 593px; }
.modal .modal-dialog .modal-content { background: url("../img/pattern.png"); }
.modal .modal-dialog .modal-content .modal-body { padding: 20px 24px; }
.modal .modal-dialog .btn-close { background: black; opacity: 0.6; position: absolute; top: -1px; right: -50px; width: 50px; height: 50px; }
.modal .modal-dialog .btn-close:after { bottom: 24px; left: 3px; width: 45px; border-top: 2px solid white; }
.modal .modal-dialog .btn-close:before { bottom: 24px; left: 3px; width: 45px; border-top: 2px solid white; }
.modal .modal-dialog h2 { margin: 25px 0 7px; }
.modal form { width: 320px; margin: 25px auto 35px; }
.modal form .placeholder { color: black; }
.modal form a { display: block; margin-top: -4px; color: #235d98; }
.modal form input { height: 40px; border: 1px solid #dddddd; font-family: "robotoregular"; }
.modal form input::-webkit-input-placeholder { color: black; }
.modal form input::-moz-placeholder { color: black; }
.modal form input:-moz-placeholder { color: black; }
.modal form input:-ms-input-placeholder { color: black; }
.modal form textarea { height: 55px; border: 1px solid #dddddd; }
.modal form textarea::-webkit-input-placeholder { color: black; }
.modal form textarea::-moz-placeholder { color: black; }
.modal form textarea:-moz-placeholder { color: black; }
.modal form textarea:-ms-input-placeholder { color: black; }
.modal form .btn-orange { border-bottom: 3px solid #cd660b; margin-top: 20px; padding-bottom: 7px; }

.modal-buy form, .modal-by-gross form, .modal-order form { margin-bottom: 27px; }
.modal-buy form .form-group, .modal-by-gross form .form-group, .modal-order form .form-group { margin-bottom: 10px; }
.modal-buy h2, .modal-by-gross h2, .modal-order h2 { padding-bottom: 20px; border-bottom: 2px solid #ff8103; margin-bottom: 30px; }
.modal-buy h4, .modal-by-gross h4, .modal-order h4 { font-family: "roboto_cnregular"; text-transform: none; margin-top: 28px; }
.modal-buy h3, .modal-by-gross h3, .modal-order h3 { margin-top: 20px; margin-bottom: 10px; }

.modal-order form { margin-bottom: 48px; }
.modal-order form h5 { margin-top: -6px; margin-bottom: 9px; }
.modal-order form textarea { height: 70px; }

.modal-thankyou-1 img, .modal-thankyou-2 img { margin-bottom: 25px; }
.modal-thankyou-1 h3, .modal-thankyou-2 h3 { text-transform: none; margin-bottom: 20px; }
.modal-thankyou-1 h3.green, .modal-thankyou-2 h3.green { color: #608445; }
